# Lecture 2-1: Combined Data Types

In addition to string, integer, floating-point, complex, boolean, and nonetype, the fix basic data types we learned in the previous lecture, there are some other data types with more complex structure in Python. 

## Table of contents

* [1 List](#1)
* [2 Tuple](#2)
* [3 Set](#3)
* [4 Dict](#4)
* [5 Wrap-up](#5)

## 1 List <a class="anchor" id="1"></a>

Lists are just like the arrays, declared in other languages which is a **ordered** collection of data. It is very flexible as the items in a list **do not need to be of the same type**.

List can be recognized by their **square brackets** which hold elements and are separated by a comma.

In [1]:
my_list_1 = [1,2,3,4]
my_list_2 = ['A','B','C']
my_list_3 = ['2','thank you',4+7j,False,0.9999]
print(my_list_1, type(my_list_1))
print(my_list_2, type(my_list_2))
print(my_list_3, type(my_list_3))

[1, 2, 3, 4] <class 'list'>
['A', 'B', 'C'] <class 'list'>
['2', 'thank you', (4+7j), False, 0.9999] <class 'list'>

In [2]:
print(my_list_1[0],type(my_list_1[0]))

1 <class 'int'>

In [3]:
print(my_list_3[-2],type(my_list_3[-2]))

False <class 'bool'>

In [4]:
print(my_list_3[1:4],type(my_list_3[1:4]))

['thank you', (4+7j), False] <class 'list'>

In [5]:
print([my_list_3[1:4],type(my_list_3[1:4])])

[['thank you', (4+7j), False], <class 'list'>]

In [7]:
temp = [my_list_3[1:4],type(my_list_3[1:4])]
print(temp[0])

['thank you', (4+7j), False]

In [8]:
print(temp[0][1])

(4+7j)

In [9]:
print(temp[1][0])

TypeError: 'type' object is not subscriptable

In [10]:
temp_2 = [1,2,'abc']
print(temp_2[2][2])

c

In [12]:
tower = [1,[1,[1,2]],[1,[1,2],[1,2,3]]]

In [13]:
print(tower[2][2][2])

3

In [14]:
name = ["alice", "bob", "cindy", "dale","eric"]

In [15]:
print(name)
name[1] = 'ben'
print(name)

['alice', 'bob', 'cindy', 'dale', 'eric']
['alice', 'ben', 'cindy', 'dale', 'eric']

In [16]:
name.append('frank')
print(name)

['alice', 'ben', 'cindy', 'dale', 'eric', 'frank']

In [17]:
name.insert(2,'grace')
print(name)

['alice', 'ben', 'grace', 'cindy', 'dale', 'eric', 'frank']

In [18]:
name.remove('Grace')

ValueError: list.remove(x): x not in list

In [19]:
name.remove('grace')
print(name)

['alice', 'ben', 'cindy', 'dale', 'eric', 'frank']

In [20]:
name.remove(name[3])

In [21]:
print(name)

['alice', 'ben', 'cindy', 'eric', 'frank']

In [22]:
del name[-1]
print(name)

['alice', 'ben', 'cindy', 'eric']

In [23]:
name.pop()
print(name)

['alice', 'ben', 'cindy']

In [24]:
name.append(name.pop())
print(name)

['alice', 'ben', 'cindy']

In [25]:
x = name.pop(0)
print(x, name)

alice ['ben', 'cindy']

In [26]:
seq = [-3,5,6.9,133,2,-5]
print(len(seq))

6

In [27]:
print(sorted(seq))
print(seq)

[-5, -3, 2, 5, 6.9, 133]
[-3, 5, 6.9, 133, 2, -5]

In [28]:
seq.sort()
print(seq)

[-5, -3, 2, 5, 6.9, 133]

In [29]:
print(seq.sort())

None

In [30]:
seq.reverse()
print(seq)

[133, 6.9, 5, 2, -3, -5]

In [33]:
seq = [-3,5,6.9,133,2,-5]
seq.sort()
seq.reverse()
print(seq)

[133, 6.9, 5, 2, -3, -5]

In [34]:
seq.sort(reverse=True)
print(seq)

[133, 6.9, 5, 2, -3, -5]

In [35]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [36]:
print(name)
name.extend(['jane','kate'])
print(name)

['ben', 'cindy']
['ben', 'cindy', 'jane', 'kate']

In [37]:
lst = [3,2,1]
lst = (lst+[0])*2
print(lst)

[3, 2, 1, 0, 3, 2, 1, 0]

In [ ]:
lst = []
lst = tuple(lst)
print(lst)

In [80]:
y = [1,2,3]
y.insert(0,0)
print(y)

[0, 1, 2, 3]

In [81]:
y = [1,2,3]
y = [0]+y
print(y)

[0, 1, 2, 3]

In [83]:
y = [1,2,3]
z = [0]
z.extend(y)
print(z)

[0, 1, 2, 3]

#### Exercise 1

In [ ]:
# Given a list [3,2,1], how to get a new list = [3,2,1,0,1,2,3]

In [38]:
lst = [3,2,1]
lst_new = lst+[0,1,2,3]
print(lst_new)

[3, 2, 1, 0, 1, 2, 3]

In [39]:
lst = [3,2,1]
lst.extend([0,1,2,3])
print(lst)

[3, 2, 1, 0, 1, 2, 3]

In [40]:
lst = [3,2,1]
lst_copy = lst
lst.reverse()
lst_new = lst_copy+[0]+lst
print(lst_new)

[1, 2, 3, 0, 1, 2, 3]

In [41]:
lst = [3,2,1]
lst_copy = lst
lst_copy.reverse()
print(lst)

[1, 2, 3]

In [42]:
lst = [3,2,1]
lst_copy = lst.copy()
lst_copy.reverse()
print(lst)

[3, 2, 1]

In [43]:
lst = [3,2,1]
lst_copy = lst.copy()
lst.reverse()
lst_new = lst_copy+[0]+lst
print(lst_new)

[3, 2, 1, 0, 1, 2, 3]

In [44]:
print(lst_new.count(0))
print(lst_new.count(1))
print(lst_new.count('hello'))

1
2
0

## 2 Tuple <a class="anchor" id="2"></a>

Just like list, tuple is also an **ordered** collection of Python objects. The only difference between tuple and list is that tuples are immutable i.e. tuples **cannot be modified** after it is created. It is represented by tuple class.

Tuple can be recognized by their **parentheses** which hold elements and are separated by a comma.

Note: Tuples can also be created with a single element, but it is a bit tricky. Having one element in the parentheses is not sufficient, there must be a trailing ‘comma’ to make it a tuple.

In [45]:
empty_tuple = ()
print(empty_tuple,type(empty_tuple))
print(bool(empty_tuple))

() <class 'tuple'>
False

In [46]:
example_tuple = ('have',1,'good day')
print(example_tuple[1])

1

In [47]:
nested_tuple = ([1,2,3],"Hi",example_tuple)
print(nested_tuple)
print(nested_tuple[2][2])

([1, 2, 3], 'Hi', ('have', 1, 'good day'))
good day

In [48]:
nested_tuple[1] = ()

TypeError: 'tuple' object does not support item assignment

In [49]:
nested_tuple[0][0]='one'
print(nested_tuple)

(['one', 2, 3], 'Hi', ('have', 1, 'good day'))

In [50]:
singleton_tuple = ('solo')
print(singleton_tuple,type(singleton_tuple))
singleton_tuple = ('solo',)
print(singleton_tuple,type(singleton_tuple))

solo <class 'str'>
('solo',) <class 'tuple'>

In [51]:
singleton_tuple = ('solo',)
singleton_tuple.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [52]:
singleton_tuple = ('solo',)
singleton_tuple +=(1,)
#singleton_tuple =(1,)+singleton_tuple
print(singleton_tuple)

('solo', 1)

In [53]:
# two methods:
grades=(99,97,98,98,100)
print(grades.index(100))
print(grades.index(98))
print(grades.count(98))

4
2
2

In [54]:
#build-in functions
print(len(grades))
print([max(grades),min(grades)])

5
[100, 97]

In [55]:
del grades[4]

TypeError: 'tuple' object doesn't support item deletion

In [56]:
del grades
print(grades)

NameError: name 'grades' is not defined

In [57]:
lst = []
x=(tuple(lst), type(lst),type(tuple(lst)))
print(x)

((), <class 'list'>, <class 'tuple'>)

In [58]:
print([] in x)
print(type(lst) in x)

False
True

## 3 Set<a class="anchor" id="3"></a>

In Python, set is an **unordered** collection of data type that is **iterable, mutable and has no duplicate elements**. The order of elements in a set is undefined though it may consist of various elements.
Creating Sets

Set can be recognized by their **curly braces** which hold elements and are separated by a comma.

In [59]:
#Two ways to reat a set 
#by the built-in set() function with an iterable object
set_1 = set([1,2,3])
print(set_1)
set_2 = set((1,2,3))
print(set_2)
set_3 = set('123')
print(set_3)

{1, 2, 3}
{1, 2, 3}
{'2', '3', '1'}

In [60]:
#by the built-in set() function with an iterable object
set_1 = set([12,1,1,22])
print(set_1)
set_2 = set((1,'1',22,'22'))
print(set_2)

{1, 12, 22}
{'22', 1, 22, '1'}

In [61]:
empty_set = set()
print(empty_set, type(empty_set))

set() <class 'set'>

In [62]:
empty_set = {}
print(empty_set, type(empty_set))

{} <class 'dict'>

In [63]:
set_1[0]

TypeError: 'set' object is not subscriptable

In [64]:
print({1 in set_1, 0 in set_1})
print([1 in set_1, 0 in set_1])

{False, True}
[True, False]

In [77]:
A = {'cat','fish','apple','chair'}
B = {'cat','dog','fish'}

In [78]:
A |=B

In [79]:
A

{'apple', 'cat', 'chair', 'dog', 'fish'}

In [66]:
print(A.union(B))
print(A|B)

{'dog', 'cat', 'apple', 'chair', 'fish'}
{'dog', 'cat', 'apple', 'chair', 'fish'}

In [67]:
print(A.intersection(B))
print(A&B)

{'cat', 'fish'}
{'cat', 'fish'}

In [68]:
print(A.difference(B))
print(A-B)

{'apple', 'chair'}
{'apple', 'chair'}

In [69]:
A.add('bird')
print(A)

{'apple', 'chair', 'fish', 'cat', 'bird'}

In [70]:
A.discard('bird')
print(A)

{'apple', 'chair', 'fish', 'cat'}

In [71]:
A.discard('bird')
print(A)

{'apple', 'chair', 'fish', 'cat'}

In [72]:
A.remove('bird')
print(A)

KeyError: 'bird'

In [73]:
A.discard('cat')
print(A)

{'apple', 'chair', 'fish'}

In [74]:
A.clear()
print(A)
print(A == None)

set()
False

In [76]:
del A
print(A == None)

NameError: name 'A' is not defined

## 4 Dict <a class="anchor" id="4"></a>

Dictionary in Python is an **unordered** collection of data values, used to store data values like a **map**, which unlike other Data Types that hold only single value as an element, Dictionary holds **key:value pair**.

Dictionary can be recognized by their **curly braces** which hold Key:value pairs separated by colon : .

In Python, a Dictionary can be created by placing a sequence of elements within curly {} braces, separated by ‘comma’. Values in a dictionary can be of any datatype and can be duplicated, whereas keys can’t be repeated and must be immutable. Dictionary can also be created by the . 

Note – Dictionary keys are case sensitive, same name but different cases of Key will be treated distinctly.

In [1]:
#create an empty dictionary by just placing it to curly braces{}.
empty_dict = {}
print(type(empty_dict))
empty_dict == dict()

<class 'dict'>

True

In [2]:
#create a dictionary by built-in function dict()
dict_1 = dict()
dict_1['key1'] = 'value_1'
dict_1['key2'] = 'value_2'
print(dict_1)

{'key1': 'value_1', 'key2': 'value_2'}

In [3]:
dict_2 = {'alice':1.60,'joe':1.76,'lily':1.7,'bob':2.1}
print(dict_2)

{'alice': 1.6, 'joe': 1.76, 'lily': 1.7, 'bob': 2.1}

In [4]:
dict_2['bob']=1.6
print(dict_2)

{'alice': 1.6, 'joe': 1.76, 'lily': 1.7, 'bob': 1.6}

In [5]:
dict_2.keys()

dict_keys(['alice', 'joe', 'lily', 'bob'])

In [6]:
dict_2.values()

dict_values([1.6, 1.76, 1.7, 1.6])

In [7]:
dict_2.items()

dict_items([('alice', 1.6), ('joe', 1.76), ('lily', 1.7), ('bob', 1.6)])

In [8]:
dict_3 = {'height':[1.60,1.76,1.7,2.1],\
          'name':['alice', 'joe', 'lily', 'bob'],\
         'sex':['F','M','F','M']}
print(dict_3)

{'height': [1.6, 1.76, 1.7, 2.1], 'name': ['alice', 'joe', 'lily', 'bob'], 'sex': ['F', 'M', 'F', 'M']}

In [9]:
print(dict_3['name'])

['alice', 'joe', 'lily', 'bob']

In [10]:
dict_3['name'].append('zoe')
print(dict_3['name'])

['alice', 'joe', 'lily', 'bob', 'zoe']

In [11]:
dict_3.get('name').append('zoe')
print(dict_3['name'])

['alice', 'joe', 'lily', 'bob', 'zoe', 'zoe']

In [12]:
'zoe' in dict_2

False

In [13]:
'joe' in dict_2

True

In [15]:
dict_3.pop('sex')

['F', 'M', 'F', 'M']

In [16]:
dict_3.items()

dict_items([('height', [1.6, 1.76, 1.7, 2.1]), ('name', ['alice', 'joe', 'lily', 'bob', 'zoe', 'zoe'])])

In [17]:
print(dict_3.pop('name'))
print(dict_3)

['alice', 'joe', 'lily', 'bob', 'zoe', 'zoe']
{'height': [1.6, 1.76, 1.7, 2.1]}

In [18]:
del dict_3['height']
print(dict_3)

{}

In [19]:
dict_3.clear()
print('\n',dict_3,'\n',dict_3 == None)

 {}
 False

In [20]:
name = ['alice', 'joe', 'lily', 'bob']
height = [1.6, 1.76, 1.7, 2.1]
info = dict(zip(name,height))
print(info)

{'alice': 1.6, 'joe': 1.76, 'lily': 1.7, 'bob': 2.1}

In [21]:
x = zip(name,height)
print(x, type(x))
print(list(x))

<zip object at 0x7fca40955100> <class 'zip'>
[('alice', 1.6), ('joe', 1.76), ('lily', 1.7), ('bob', 2.1)]

In [22]:
name = ['alice', 'joe', 'lily', 'bob','zoe']
height = [1.6, 1.76, 1.7, 2.1]
x = zip(name,height)
print(list(x))
y = zip(height,name)
print(list(y))

[('alice', 1.6), ('joe', 1.76), ('lily', 1.7), ('bob', 2.1)]
[(1.6, 'alice'), (1.76, 'joe'), (1.7, 'lily'), (2.1, 'bob')]

## 5 Wrap-up <a class="anchor" id="5"></a>
--------------------------------

| Data type | type | example | mutable/immutable | iterable ? |
| --------- | ---- | -------------- | --------- | --------- |
| str | sequence type | 'abc' or "abc" | mutable | YES |
| int | numerical type | 1 | immutable | NO |
| float | numerical type | 1 | immutable |  NO |
| complex | numerical type | 1+j or 1+J | immutable |  NO |
| bool | boolean type | True or False | immutable |  NO |
| list | sequence type | \[1,2,3\] | mutable |  YES |
| tuple | sequence type | (1,2,3) | immutable |  YES |
| set | set type | \{1,2,3\} | mutable |  YES |
| dict | mapping type | \{'key1':100,'key2':200\} | mutable |  YES |

---------------------------


- Sequence is the collection of data : str, list, tuple. 

- Position matters in sequence: index
    - str and list are  mutable, while tuple is immutable
    - elements in list and tuple could have different types, while all elements in str is character

- set is NOT a sequence: no index, no repeated elements
    - set is mutable and iterable

- dict is NOT a sequence.
    - dict.keys is a set, thus no repeated elements. 
    - key can be viewed as an index with a mutable name