# Lecture 2-1: Variable

A variable is a fundamental concept in any programming language. It is a reserved memory location that stores and manipulates data.

## Table of contents

* [1 Basic concept](#1)
    * [1.1 Rules of naming variales](#1.1)
    * [1.2 Different types of variables](#1.2)

* [2 String data](#2)
    * [2.1 Create a string variable](#2.1)
    * [2.2 String operation: concatenation](#2.2)
    * [2.3 String operation: repetition](#2.3)
    * [2.4 String operation: indexing and slicing](#2.4)
    * [2.5 Special characters and raw strings](#2.5)
    * [2.6 Commonly used functions and methods for character strings](#2.6)
    * [2.7 Comments](#2.7)

* [3 Numeric data](#3)
    * [3.1 Types of numeric data](#3.1)
        * [3.1.1 integer](#3.1.1)
        * [3.1.2 floating point number](#3.1.2)
        * [3.1.3 complex number](#3.1.3)
        * [3.1.4 Boolean](#3.1.4)
        * [3.1.5 Nonetype](#3.1.5)
    * [3.2 Operators](#3.2)
        * [3.2.1 Arithmetic operators](#3.2.1)
        * [3.2.2 Assignment operators](#3.2.2)
        * [3.2.3 Comparison operators](#3.2.3)
        * [3.2.4 Logical operators](#3.2.4)
    * [3.3 Operator precedence](#3.3)
    * [3.4 Functions for numeric data](#3.4)
    * [3.5 Placeholder](#3.5)
    * [3.6 Math module](#3.6)

## 1 Basic concept <a class="anchor" id="1"></a>
### 1.1 Rules of naming variales <a class="anchor" id="1.1"></a>

In [1]:
my_pi_1 = 3.14
my_pi_2 = 3.14159

Case sensitive

In [2]:
print(my_pi_1)

3.14

In [3]:
print(my_Pi_1)

NameError: name 'my_Pi_1' is not defined

The following are not allowed.

In [4]:
my pi = 3.14

SyntaxError: invalid syntax (1781099732.py, line 1)

In [5]:
1_my_pi = 3.14

SyntaxError: invalid decimal literal (3291718524.py, line 1)

### 1.2 Different types of variables <a class="anchor" id="1.2"></a>

The data type for a variable is the type of data it holds. 

To check the data type of x, use the type() function:

In [6]:
x = 100
y = 100.0
z = '100'
w = (100.0 == 100)
v = [10,10]
print(type(x))
print(type(y))
print(type(z))
print(type(w))
print(type(v))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>

## 2 String data<a class="anchor" id="2"></a>
### 2.1 Create a string variable<a class="anchor" id="2.1"></a>

In [7]:
myname = 'Jingjie Zhang'
print(myname)
type(myname)

Jingjie Zhang

str

In [8]:
print(myname.upper())
print(myname.lower())

JINGJIE ZHANG
jingjie zhang

In [9]:
v1 = "this is the title"

print(v1.title())
print(v1)

This Is The Title
this is the title

In [10]:
v1 = v1.title()
print(v1)

This Is The Title

### 2.2 String operation: concatenation<a class="anchor" id="2.2"></a>

In [11]:
fin = 'Fin'
tech = 'Tech'
fintech = fin+tech
print(fintech)

FinTech

In [12]:
n_1 = '1'
n_2 = '2'
n_3 = '3'
equation = n_1 + '+' + n_2 + '=' + n_3
print(equation)
type(equation)

1+2=3

str

### 2.3 String operation: repetition<a class="anchor" id="2.3"></a>

In [13]:
print('Yes!'*3)

Yes!Yes!Yes!

### 2.4 String operation: indexing and slicing<a class="anchor" id="2.4"></a>

In [14]:
x = 'Guess what!'
'g' in x

False

In [15]:
'g' not in x

True

In [16]:
'Gu' in x

True

In [17]:
alphabet = 'abcdefg'
print(alphabet[0])
print(alphabet[3])
print(alphabet[-1])
print(alphabet[-3])

a
d
g
e

In [18]:
print(alphabet[2:5])

cde

In [19]:
print(alphabet[:5])

abcde

In [20]:
print(alphabet[2:])

cdefg

In [21]:
print(alphabet[2:5:1])
print(alphabet[2:5:2])
print(alphabet[2:6:2])
print(alphabet[2:7:2])

cde
ce
ce
ceg

#### Exercise 1

In [22]:
first_name = "jingjie"
last_name = "zhang"
full_name = first_name + " " + last_name 
print(full_name)
print(full_name.title()) 
print(full_name.upper()) 
print(full_name.lower())
print("Hello " + full_name.title() + ", welcome to Python World!") 
message = "Hello " + full_name.title() + ", welcome to Python World!" 
print(message)

jingjie zhang
Jingjie Zhang
JINGJIE ZHANG
jingjie zhang
Hello Jingjie Zhang, welcome to Python World!
Hello Jingjie Zhang, welcome to Python World!

#### Exercise 2

In [24]:
months='JanFebMarAprMayJunJulAugSepOctNovDec'

In [25]:
print('Z' in months)

False

In [26]:
mar = months[6:9]
print(mar)
after_mar = months[9:]
print(after_mar)
before_dec = months[:-3]
print(before_dec)

Mar
AprMayJunJulAugSepOctNovDec
JanFebMarAprMayJunJulAugSepOctNov

In [27]:
print((mar+'!')*3)

Mar!Mar!Mar!

### 2.5 Special characters and raw strings<a class="anchor" id="2.5"></a>

In [28]:
print('This is a gold fish')
print('This is a gold \bfish')

This is a gold fish
This is a gold fish

In [29]:
print('This is a gold \nfish')

This is a gold
fish

In [30]:
print('This is a gold \rfish')

fish

In [31]:
print('\tThis is \ta gold fish')

	This is 	a gold fish

In [32]:
print('\vThis is \n\va gold fish')

This is
a gold fish

In [33]:
print(r'\vThis is \n\va gold fish')

\vThis is \n\va gold fish

#### Exercise 3

In [34]:
Name = "Jingjie Zhang"
StudentID = "666666"
Affiliation = "Financial Technology" 
Sex = "Female"
Age = "27"

In [35]:
info = "Personal Information:\n\
\tYourname: "+Name+"\n"\
+"\tStudent ID: "+StudentID+"\n"\
+"\tAge: "+Age+"\n"\
+"\tSex: "+Sex

In [36]:
print(info)

Personal Information:
	Yourname: Jingjie Zhang
	Student ID: 666666
	Age: 27
	Sex: Female

### 2.6 Commonly used functions and methods for character strings<a class="anchor" id="2.6"></a>

In [37]:
classname = " Python and Programming " 
print(classname) 
print(classname.rstrip()) 
print(classname.lstrip()) 
print(classname.strip())
classname_new = classname.strip()

 Python and Programming
 Python and Programming
Python and Programming
Python and Programming

In [38]:
first_name = "jingjie"
last_name = "zhang"
full_name = ("%s %s"%(first_name.title(),last_name.title())) 
print(full_name)
#OR
print("My first name is %s and last name is %s."\
      %(first_name.title(),last_name.title()))

Jingjie Zhang
My first name is Jingjie and last name is Zhang.

In [39]:
print("My name is {} {}.".format(first_name.title(),last_name.title()))
 
#OR

intro = "My name is {} {}."
print(intro.format(first_name.title(),last_name.title()))

My name is Jingjie Zhang.
My name is Jingjie Zhang.

In [40]:
print(intro)
print(len(intro))

My name is {} {}.
17

In [41]:
Age = 18
print(type(Age))
age = str(Age)
print(type(age))

<class 'int'>
<class 'str'>

In [42]:
print(age)

18

#### Exercise 4

In [43]:
my_num = 9
text = 'My favorite number is %s.'%(str(my_num))
print(text)
print(len(text))

My favorite number is 9.
24

### 2.7 Comments<a class="anchor" id="2.7"></a>

In [44]:
# One line comment
print("where is the comment?")

where is the comment?

In [45]:
'''
Pythagorean theorem
Input: x, y
Output: (x^2+ y^2)^(0.5)
Author: Jingjie Zhang
'''
def pythagorean(x,y):
    return (x**2+y**2)**(0.5)

print(pythagorean(3,4))

5.0

In [46]:
print("- How are you?\n- Fine, thank you. And you?\n- Fine, too. Thanks!")

- How are you?
- Fine, thank you. And you?
- Fine, too. Thanks!

In [47]:
print('''- How are you?
- Fine, thank you. And you?
- Fine, too. Thanks!
''')

- How are you?
- Fine, thank you. And you?
- Fine, too. Thanks!

In [48]:
print('She said "Yes!"')

She said "Yes!"

## 3 Numeric data<a class="anchor" id="3"></a>
### 3.1 Types of numeric data<a class="anchor" id="3.1"></a>
#### 3.1.1 integer<a class="anchor" id="3.1.1"></a>

In [49]:
n = 1
print(type(n))

<class 'int'>

#### 3.1.2 floating point number<a class="anchor" id="3.1.2"></a>

In [50]:
print(type(3.14))
print(type(2.0))

<class 'float'>
<class 'float'>

In [51]:
print(2.0 == 2)
print(type(2.0) == type(2))

True
False

In [52]:
print(96e4)
print(96E4)
print(96e+4)
print(96E+4)
print(96e-4)
print(96E-4)

960000.0
960000.0
960000.0
960000.0
0.0096
0.0096

#### 3.1.3 complex number<a class="anchor" id="3.1.3"></a>

In [53]:
z = 3+4.1J
print(z)
print(z.real)
print(z.imag)

(3+4.1j)
3.0
4.1

In [54]:
print(type(2+2.0))
print(type(3.4*z))

<class 'float'>
<class 'complex'>

In [55]:
print(int(0.9))
print(int(-0.9))
print(int(1.9))
print(int(-1.1))

0
0
1
-1

#### 3.1.4 Boolean<a class="anchor" id="3.1.4"></a>

In [56]:
print(True)
print(int(True))
print(float(True))
print(False*3.5)

True
1
1.0
0.0

In [57]:
print(bool(5.2))
print(bool(0.0))
print(bool(''))
print(bool(' '))
print(bool([ ]))

True
False
False
True
False

#### 3.1.5 Nonetype<a class="anchor" id="3.1.5"></a>

In [58]:
a = None
print(type(a))

<class 'NoneType'>

### 3.2 Operators<a class="anchor" id="3.2"></a>
#### 3.2.1 Arithmetic operators<a class="anchor" id="3.2.1"></a>

In [59]:
#Revisit this example
'''
Pythagorean theorem
Input: x, y
Output: (x^2+ y^2)^(0.5)
Author: Jingjie Zhang
'''
def pythagorean(x,y):
    return (x**2+y**2)**(0.5)

print(pythagorean(3,4))

5.0

In [60]:
print(10/3)
print(10//3)
print(11.5/3.3)
print(11.5//3.3)

3.3333333333333335
3
3.484848484848485
3.0

In [61]:
print(10%3)

1

In [62]:
print(30-3**2+8//3**2*10)

21

#### 3.2.2 Assignment operators<a class="anchor" id="3.2.2"></a>

In [63]:
x = 10
x += 1 # This is the same as x = x+1
print(x)
x -= 1
print(x)
x *= 2
print(x)
x /= 2
print(x)
x **= 2
print(x)

11
10
20
10.0
100.0

#### 3.2.3 Comparison operators<a class="anchor" id="3.2.3"></a>

In [ ]:
print((3*3)==(3**3))

In [ ]:
print(3*(3==3)**3)

In [ ]:
print((3*3)<(3**3))

In [ ]:
print('a'>='b')

In [ ]:
print('a'!='A')

#### 3.2.4 Logical operators<a class="anchor" id="3.2.4"></a>

In [64]:
print(1 and 2)
print(0 and 2)
print(1 and 0)

2
0
0

In [65]:
print(True and False)

False

In [66]:
print(1 or 0)
print(0 or False)
print(False or 0)

1
False
0

In [67]:
print(not(False or 0))
print(not(2 or False))

True
False

### 3.4 Functions for numeric data<a class="anchor" id="3.4"></a>

In [68]:
print(abs(5-9.9))

4.9

In [69]:
print(10//3,10%3)
print(divmod(10,3))
print(type(divmod(10,3)))

3 1
(3, 1)
<class 'tuple'>

In [70]:
print(pow(10,2))
print(pow(10,2,9))

100
1

In [73]:
print(round(0.9),round(0.5),round(0.1))
print(int(0.9),int(0.5),int(0.1))
print(round(-0.9),round(-0.5),round(-0.1))
print(int(-0.9),int(-0.5),int(-0.1))

1 0 0
0 0 0
-1 0 0
0 0 0

In [74]:
print(round(3.1415926,2))

3.14

In [75]:
print(max(1,2,3,4))
print(min(1,2,3,4))

4
1

### 3.5 Placeholder<a class="anchor" id="3.5"></a>

In [77]:
item = "chair"
n = 3
price = 189.99

print("The price of this %s is %f and we only have %d left."%(item, price,n))
print("The price of this %s is %.2f and we only have %d left."%(item.upper(), price,n))
print("The price of this %s is %e and we only have %d left."%(item.title(), price,n))
print("The price of this %s is %.3e and we only have %d left."%(item, price,n))
print("The price of this %s is %.3e and we only have %f left."%(item, price,n))

The price of this chair is 189.990000 and we only have 3 left.
The price of this CHAIR is 189.99 and we only have 3 left.
The price of this Chair is 1.899900e+02 and we only have 3 left.
The price of this chair is 1.900e+02 and we only have 3 left.
The price of this chair is 1.900e+02 and we only have 3.000000 left.

In [89]:
item = "chair"
n = 3
price = 189.99

print("The price of this %s is %s and we only have %s left."%(item,str(price),str(n)))

The price of this chair is 189.99 and we only have 3 left.

In [84]:
print(str(price))

189.99

### 3.6 Math module<a class="anchor" id="3.6"></a>

In [78]:
import math

In [79]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [80]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.8/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /Users/jingjiezhang/opt/anaconda3/lib/python3.8/lib-dynload/math.cpython-38-darwin.so

#### Exercise 5

In [81]:
import math
r = int(input('radius = '))
d = r*2
surface_area = 4*math.pi*r**2
volumn = 4/3*math.pi*r**3
print('The diameter is %.4f.\nThe surface area is %.4f.\nThe volumn is %.4f.'%(d,surface_area,volumn)  )

radius = 5
The diameter is 10.0000.
The surface area is 314.1593.
The volumn is 523.5988.

In [82]:
print(math.cos(math.pi))

-1.0